*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: white;
    font-family: 'avenir', 'lato', 'arimo', 'palatino', 'arvo', 'merriweather', 'helvetica', sans-serif;
}

/* Page Container CSS */
#container {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 10%;
}

/* Start Home Page CSS */
.home-content {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    padding-bottom: 35px;
}

/* Map CSS */
#map {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0px 20px;
}

.map-container {
    margin: 0 auto;
    margin-top: 90px;
    position: relative;
    padding-bottom: 60%;
    height: 0;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 75;
    left: 0;
    width: 100%;
    height: 85%;
    border-radius: 5px;
    border: 2px solid #888;
    box-shadow: 1px 1px 10px #9999;
}
/* End Map CSS */

/* Start Card CSS */
.card {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 420px;
    box-shadow: 1px 1px 3px #999;
}

.card img {
    border-bottom: 2px solid black;
}

.card-body {
    background-color: #f3f3f3;
}

.card-body button {
    background-color: #9192c1;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #999999;
}

.card-body button:hover {
    background-color: #c5c5dd;
}

.card-body a {
    color: white;
    text-shadow: 1px 1px 2px #444444;
}
/* End Card CSS */
/* End Home Page CSS */


/* Footer Start */
footer {
    max-width: 100%;
    background-color: #d9cfc2;
    padding: 10px 20px;
    margin: 0 auto;
}

footer ul {
    list-style: none;
}

.contact {
    display: flex;
    justify-content:space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.contact p {
    text-align: left;
    padding: 0;
}

.contact i {
    font-size: 36px;
    padding: 10px;
}

.social {
    display: flex;
    justify-content: space-between;
}
/* Footer End */


/* Start Product Page Css */
.prod-container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
}

.prod-container img {
    max-width: 400px;
}

.prod-container h2 {
    text-align: center;
}

.prod-container p {
    text-align: left;
    max-width: 500px;
    margin: 0 auto;
}

.prod-container button {
    width: 120px;
    height: 50px;
    background-color: #9192c1;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #999999;
    text-shadow: 1px 1px 2px #333333;
    margin-left: 40%;
}

.prod-container a {
    color: white;
}

.prod-container button:hover {
    background-color: #c5c5dd;
}

.prod-button h5 {
    text-align: center;
}

.middle {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    padding: 200px 10px 0 10px;
}

.banner {
    margin: 0 auto;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(small-mouse2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    background-position: center;
    max-width: 1250px;
    box-shadow: 1px 1px 7px #777;
}

.banner h2 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #999;
    padding: 150px 10px 0 10px;
}

.info-container {
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 100px;
}

.info-container img {
    max-width: 400px;
}

.info-container h3, p {
    padding: 0 20px;
}

.buy {
    margin: 0 auto;
    max-width: 1000px;
    padding: 100px 10px;
}

.buy h3 {
    text-align: center;
}

.buy-p {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.buy img {
    max-width: 500px;
}

.center {
    margin: 0 auto;
    text-align: center;
    align-content: center;
}

.price {
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    padding-top: 15px;
}

.price h5 {
    margin-left: 10%;
    text-shadow: 1px 1px 2px #e3e3e3;
    padding-top: 10px;
    
}

price button {
    background-color: #c5c5dd;
}

#purchase {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #9192c1;
    box-shadow: 2px 2px 5px #999;
    text-shadow: 1px 1px 2px #666;
    color: white;
    font-size: 18px;
    border: 0.5px solid #666;
}

/* End Product Page CSS */




/* Order Form */
.wrapper {
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 100px;
    width: 70%;
    background-color: #c5c5dd;
    display: flex;
    justify-content: center;
    font-family: "Arimo";
    -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
    animation: slideUp 2000ms ease;
}

@keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);

    }
}

.order-container {
    width: 65%;
    padding: 5% 10%;
}

h1 {
    align-self: center;
}

form {
    width: 100%;

    >* {
        margin-top: 20px;
    }
}

form input, select {
        width: 100%;
        min-height: 25px;
        border: 1px solid black;
        font-size: 1rem;
        letter-spacing: .15rem;
        font-family: "avenir";
        margin-top: 5px;
        color: black;
        border-radius: 4px;
}

form select {
    height: 28px;
}

form label {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        color: $maroon;
}

form h1 {
        font-size: 24px;
        line-height: 20px;
        letter-spacing: 1px;
        text-decoration: underline
}

form h1:nth-of-type(2) {
    margin-top: 10%;
}

form a {
    color: black;
}

.name {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.name div {
    width: 45%;
}


.address-info {
    display: flex;
    justify-content: space-between;
}

.address-info div {
    width: 30%;
}

.cc-info {
    display: flex;
    justify-content: space-between;
}
    
.cc-info div {
        width: 45%;
}


.btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 15px;
}
    
.btns button {
        margin: 3px 0;
        height: 40px;
        width: 30;
        text-shadow: 2px 2px 5px #666;
        background-color: #9192c1;
        text-transform: uppercase;
        border-radius: 5px;
}

.btns button:hover {
            animation-name: btn-hov;
            animation-duration: 550ms;
            animation-fill-mode: forwards;
}

.btns a {
    color: white;
    text-shadow: 1px 1px 3px #666;
}
    

@keyframes btn-hov {
    100% {
        background-color: #cfc9e1;
        color: #4a3b76;
        transform: scale(1.05)
    }
}

input:focus,
button:focus {
    outline: none;
}

@media (max-width: 690px) {
    .wrapper {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .btns {
        align-items: center;
    }
    
    .btns button {
            width: 50%;
        }

    form h1 {
        text-align: center;
    }

    .name,
    .address-info,
    .cc-info {
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }
    
    .name div,
    .address-info div,
    .cc-info div {
            align-items: center;
            flex-direction: column;
            width: 100%;
            display: flex;
    }

    .street,
    .cc-num {
        text-align: center;
    }

    input, select {
        margin: 5px 0;
        min-height: 30px;
    }
}

/* End Order Form */



/* Header and Nav  */
header {
    background: #161616;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    box-shadow: 5px 5px 20px #666;
    border-bottom: 5px solid #f3fad0;
}

.logo1 {
    max-width: 140px;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 20px;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #fefad0;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 15px 0 0 5px;
    list-style: none;
    margin-right: 10px;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
    font-weight: 400;
}

nav a {
    color: black;
    text-shadow: 0.5px 0.55px white;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    font-size: 16px;
}

nav a:hover {
    color: #81b9dd;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

#login {
    margin-right: 30px;
    background: none!important;
    border: none;
    padding: 0!important;
    color: black;
    text-shadow: 0.5px 0.55px white;
    font-size: 16px;
}

#login:hover {
    color: #81b9dd;
}

@media screen and (min-width: 690px) {
    
    .nav-toggle-label {
        display: none;
    }
    
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
        align-items: center;
    }

    .logo1 {
        grid-column: 2/3;
        margin-left: 70px;
        display: block;
    }

    nav {
        all: unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 20px;
    }
    
    nav a {
        opacity: 1;
        position: relative;
        color: white;
        font-size: 14px;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        padding: 0;
    }

    nav li {
        margin-left: 16px;
        margin-bottom: 0;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: #82b9dd;
        position: absolute;
        bottom: -27px;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }
    
    nav a:hover::before {
        transform: scale(1,1);
    }
    
    #login {
        color: white;
        font-size: 14px;
    }
    
    #container {
        margin-top: 80px;
    }
    
    .contact i {
        font-size: 50px;
    }
    
    .banner {
        height: 620px;
    }

}
/* End Header and Nav */


/* Login Pop Up */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;
    height: 400px;
}

.modal-content h3 {
    text-align: center;
    padding-bottom: 20px;
}

.modal-content span {
    text-align: right;
}

.modal-content input {
    margin: 0 auto;
    max-width: 200px;
}

.modal-content button {
    width: 100px;
    height: 30px;
    background-color: #9192c1;
    margin: 0 auto;
    box-shadow: 1px 1px 4px #999;
    border-radius: 5px;
}

.modal-content a {
    color: white;
    text-shadow: 1px 1px 2px #111;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* End Login Pop Up */

/* Start Confirm CSS */
.wrapper2 {
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 100px;
    max-width: 70%;
    background-color: #c5c5dd;
    display: flex;
    justify-content: center;
    font-family: "Arimo";
    -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
    animation: slideUp 2000ms ease;
}

.order-container2 {
    width: 85%;
    padding: 5% 10%;
}

.order-container2 img {
    max-width: 200px;
}

.confirm {
    color: white;
    text-shadow: 1px 1px 3px #666;
    text-align: center;
    padding: 15 0 0 0px;
}

.line {
    margin: 0 auto;
    background-color: white;
    height: 2px;
    width: 200px;
    margin-bottom: 30px;
}
/* End Confirm CSS */




